        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f4f8; /* gris claro */
            color: #333;
        }

        header {
            background-color: #87ceeb; /* azul cielo */
            color: #fff;
            text-align: center;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        header img {
            height: 60px;
            border-radius: 50%
        }

        nav {
            background-color: #2f4f4f; /* gris oscuro */
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }

        nav a:hover {
            color: #87ceeb; /* azul cielo */
        }

        main {
            padding: 20px;
        }

        iframe {
            border: 2px solid #87ceeb;
            border-radius: 8px;
            background-color: #fff;
        }

    h2 {
      color: #4CAF50;
      text-align: center;
    }

    p {
      text-align: justify;
      line-height: 1.6;
      max-width: 800px;
      margin: 20px auto;
    }


  #inicio {
    text-align: center;
    padding: 20px;
  }

    #inicio p {
      max-width: 800px;
      margin: 15px auto;
      line-height: 1.6;
      font-size: 18px;
    }

  .imagenes {
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin-top: 20px;        
  }


  .imagenes img {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  .video-border-container {
    border: 4px solid #4CAF50;       
    border-radius: 15px;               
    padding: 15px;                     
    max-width: 700px;                  
    margin: 20px auto;                 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    background-color: #f9f9f9;       
  }

.video-container {
  width: 500px;             
  height: 350px;            
  margin: 20px auto;        
  border: 3px solid #87ceeb; 
  border-radius: 10px;       
  overflow: hidden;         
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none; 
}

